.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      @keyframes jello-horizontal {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      

::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

::-webkit-scrollbar-thumb {
background: yellowgreen;  
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}

div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#ffffff;
    background:#436033;
    padding:15px;
}

a {
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

a:hover {
  text-transform: uppercase;
  color: #ffffff;
}

html {
    height: 100%;
}

.jumbotron {
    background: linear-gradient(#8cb570, #436033);
    color: #ffffff;
}

body {
    background-image: url("img/treebg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.container1 {
    width: 50%;
    height: 100%;
    padding: 40px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    border-width: 10px;
    background: linear-gradient(#8cb570, #436033);
    color: black;
}

.container-info {
    width: 50%;
    height: 500px;
    overflow: auto;
    padding: 40px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    border-width: 10px;
    background: linear-gradient(#8cb570, #436033);
    font-size: 18px;
}

#list {
  text-align: left;
  margin-left: 200px;
  font-size: 19px;
  font-style: italic;
}

#num-list {
  text-align: left;
  margin-left: 60px;
}

.mission {
  font-size: 20px;
  color: rgb(146, 216, 77);
}

.slide-in-bck-bottom {
	-webkit-animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-bottom {
        0% {
          -webkit-transform: translateZ(700px) translateY(300px);
                  transform: translateZ(700px) translateY(300px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-bck-bottom {
        0% {
          -webkit-transform: translateZ(700px) translateY(300px);
                  transform: translateZ(700px) translateY(300px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }

.kenburns-top {
-webkit-animation: kenburns-top 4s ease-out both;
        animation: kenburns-top 4s ease-out both;
}

@-webkit-keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      
