.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      @keyframes jello-horizontal {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      

::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

::-webkit-scrollbar-thumb {
background: yellowgreen;  
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}

div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#ffffff;
    background:#436033;
    padding:15px;
}

a {
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

a:hover {
  text-transform: uppercase;
  color: #ffffff;
}

html {
    height: 100%;
}

.jumbotron {
    background: linear-gradient(#8cb570, #436033);
    color: #ffffff;
}

body {
    background-image: url("img/treebg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.container1 {
    width: 50%;
    height: 100%;
    padding: 40px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    border-width: 10px;
    background: linear-gradient(#8cb570, #436033);
    color: black;
}

.container-info {
    width: 50%;
    height: 500px;
    overflow: auto;
    padding: 40px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    border-width: 10px;
    background: linear-gradient(#8cb570, #436033);
}