@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-shadow-pop-top">Welcome to GreenHarbor</h1>
        <p>Get to know a few of <a href="/composts">our hosts</a>!</p>
        

@Html.ActionLink("Create.cshtml", "Create", "Composts")
@Html.ActionLink("Index.cshtml", "Index", "Info")
@Html.ActionLink("Create or Manage an Account", "Index" , "Account")

</div>