@{
    ViewData["Title"] = "Home Page";
}
    <div class="container-home">
    <h1 class="display-4">com·post</h1>
    /ˈkämˌpōst/<br>
    <span class = "italic">noun</span><br>
    decayed organic material used as a plant fertilizer.<br>
    
    <hr>
    @Html.ActionLink("Start Composting Today!", "Index", "Account")
    </div>
