@{
    Layout = "_Layout";
}

    <div class="container1">
    <h1 class="display-4">com·post</h1>
    /ˈkämˌpōst/<br>
    <em>noun</em><br>
    decayed organic material used as a plant fertilizer.<br>
    
    <hr>
    @Html.ActionLink("Start Composting Today!", "Index", "Account")<br>
    <div class="img2"></div>
    </div>