@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GreenHarbor</h1>
      <p>Get to know a few of <a href="/composts">our hosts</a>!</p>

@Html.ActionLink("Create.cshtml", "Create", "Composts")
@Html.ActionLink("Index.cshtml", "Index", "Info")

</div>