@{
    ViewData["Title"] = "Info Page";
}

@* Information about composting and how to use this website. *@



<p>@Html.ActionLink("Register to use compost", "User", "Index")</p>
<p>@Html.ActionLink("View list of available compost piles", "Index", "Composts")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>