@{
    Layout = "_Layout";
}

<div class = "container-info">
    <h2>Information about composting</h2><br>
<p>Composting is a natural process that transforms organic matter, including food scraps and yard waste, into a nutrient-rich fertilizer, known as compost. By creating an optimal environment for the activity of bacteria, fungi, and other decomposing organisms, composting accelerates the natural decomposition process.</p>
<br>
<p>The resulting compost, often resembling fertile garden soil, is colloquially known as "black gold" among farmers. Rich in nutrients, compost serves as a valuable resource for gardening, horticulture, and agriculture.</p>
<br>
<p>Composting at home provides a sustainable solution to divert organic waste from the landfill while producing a beneficial soil amendment for personal use. This eco-friendly practice reduces reliance on burning or wasting natural resources, contributing to cleaner air and a smaller carbon footprint.</p>
<br>
<h3>The viability of composting depends on a few factors:</h3>
<ul>
    <li>Location/Space Availability</li>
    <li>Quantity of Organic Waste Produced</li>
    <li>Type of Organic Waste (kitchen and/or yard waste)</li>
    <li>Commitment to the Composting Process</li>
</ul>

<h3>Benefits of composting:</h3>
<ol>
    <li>Reduces the Waste Stream:** Diverting organic waste from landfills decreases overall waste.</li>
    <li>Cuts Methane Emissions From Landfills:** By reducing organic waste in landfills, composting helps mitigate the production of methane, a potent greenhouse gas.</li>
    <li>Improves Soil Health and Lessens Erosion:** Compost enhances soil structure, promotes healthy microbial activity, and reduces erosion.</li>
    <li>Conserves Water:** Compost improves soil water retention, reducing the need for irrigation.</li>
    <li>Reduces Personal Food Waste:** Composting at home encourages mindful consumption and minimizes food waste.</li>
</ol>
<br>
<h3>The Environmental Impact of Burn Piles:</h3>
<p>In contrast, burn piles contribute to air pollution and decreased air quality. The combustion of organic matter releases particulate matter, carbon monoxide, and other pollutants into the air, negatively impacting respiratory health and the overall environment. By choosing composting over burning, we collectively contribute to cleaner air and a healthier community.</p>
<br>
<h3>Our Mission:</h3>
<p>At GreenHarbor, our mission is to foster a community that values sustainable practices and environmental stewardship. We aim to connect individuals seeking composting solutions with those willing to share or utilize compost resources. Through education and collaboration, we strive to promote responsible waste management, reduce environmental impact, and empower individuals to make a positive difference in their communities. Together, we can create a more sustainable and greener future.</p>
</div>
