<div id="footer">
<!-- @Html.ActionLink("Home", "Index", "Home") | 
@Html.ActionLink("Find a Composter", "Index", "Composts") |
@Html.ActionLink("Our Mission", "Index", "Info") | 

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log out" />
    }
}
else
{
    @Html.ActionLink("Log In | Register", "Index", "Account")
} -->
</div>